.site-name {
  color: #5b6770;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: .05em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
  margin-left: 0px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

@media (max-width: 800px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.img {
  margin: auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: auto;
}

.element {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

/*for the three principal sections*/
.flex-item-left {
  background-color: #0401be7c;
  padding: 10px;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
}

.flex-item-middle {
  background-color: rgba(206, 0, 0, 0.425);
  padding: 10px;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
}

.flex-item-right {
  background-color: rgba(15, 119, 46, 0.452);
  padding: 10px;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 700px) {
  .flex-item-right, .flex-item-middle, .flex-item-left, .flex-head {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

/*for the buttons in the blue section*/
.flex-item2 {
  background-color: #0604a0;
  color: white;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

/*for the button in the red section */
.flex-item3 {
  background-color: #a00404;
  color: white;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

/*for the button in the green section */
.flex-item4 {
  background-color: #025c18;
  color: white;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

/*for adding flexibility to the header*/
.flex-head {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
/*# sourceMappingURL=style.css.map */